<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body class="bg-violet-300 h-max flex flex-col justify-center items-center pt-52">
    <div class="w-max bg-slate-100 px-6 py-8 flex flex-col justify-center items-center rounded-xl shadow-md">
        <h1 class="text-5xl"><b>WELCOME TO KANBAN APP</b></h1>
        <h2 class="text-xl">Make your Kanban Board to helps you visualize work, maximize efficiency, and improve continuously!</h2>
        <div class="flex flex-row mt-10 text-2xl gap-20">
            <a href="/login">
                <div class="bg-violet-500 py-3 px-8 text-white rounded-lg shadow-md hover:bg-white hover:text-black active:bg-violet-300 text-white">Login</div>
            </a>
            <a href="/register">
                <div class="bg-violet-500 py-3 px-8 text-white rounded-lg shadow-md hover:bg-white hover:text-black active:bg-violet-300 text-white">Register</div>
            </a>
        </div> 
    </div>
    <p>Copyright © v2022 | github.com/juleor</p>
</body>
</html>